node_modules
dist
dist-ssr
*.local

# Node modules anywhere in the project
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*

# Ignore node binaries
fruition/bin/node
fruition/src/node-v23.2.0-darwin-arm64/bin/node
# Ignore node-v23.2.0-darwin-arm64 directory
fruition/src/node-v23.2.0-darwin-arm64

# Python cache files
__pycache__/
*.py[cod]